[user]
	name = Kent Frazier
	email = kentfrazier@gmail.com
[push]
	default = upstream
[fetch]
    recurseSubmodules = true
[core]
	excludesfile = $HOME/.gitignore_global
	logallrefupdates = true
[pull]
	ff = only
[stash]
    keep-index = true
