[user]
	name = Kent Frazier
	email = kentfrazier@users.noreply.github.com
[push]
	default = upstream
[fetch]
    recurseSubmodules = true
[core]
	excludesfile = $HOME/.gitignore_global
	logallrefupdates = true
[pull]
	ff = only
[stash]
    keep-index = true
[rerere]
	enabled = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
