dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.pyc
*.swp
*~
*.orig
bundlebackup.tar
dotfiles/.xmonad/history
dotfiles/.xmonad/xmonad
dotfiles/.xmonad/xmonad-i386-linux
dotfiles/.xmonad/xmonad-x86_64-linux
dotfiles/.xmonad/xmonad.errors
scripts/environment.sh
scripts/private_env.sh
vim/sessions
vim/.backup
vim/.undo
vim/.netrwhist
vim/bundle/*
